<!DOCTYPE html>
<html>
  <head>
    <title>BijyoCollector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <h1>BijyoCollector</h1>
      <div class="row">
        <div class="col-md-6">
          <p>Push Button! it makes you happy!!!</p>
          <p>
            <button id="collect" class="btn btn-primary">Get the Picture</button>
            <button id="train" class="btn btn-info">Training</button>
            <button id="test" class="btn btn-info">Test</button>
          </p>
          <table id="output" class="table">
            <tr>
              <th class="col-md-3">retrieve</th>
              <th class="col-md-3">trim</th>
            </tr>
            <tr>
              <td><img width="150" /></td>
              <td><img width="150" /></td>
            </tr>
            <tr>
              <td><img width="150" /></td>
              <td><img width="150" /></td>
            </tr>
            <tr>
              <td><img width="150" /></td>
              <td><img width="150" /></td>
            </tr>
            <tr>
              <td><img width="150" /></td>
              <td><img width="150" /></td>
            </tr>
            <tr>
              <td><img width="150" /></td>
              <td><img width="150" /></td>
            </tr>
            <tr>
              <td><img width="150" /></td>
              <td><img width="150" /></td>
            </tr>
            <tr>
              <td><img width="150" /></td>
              <td><img width="150" /></td>
            </tr>
            <tr>
              <td><img width="150" /></td>
              <td><img width="150" /></td>
            </tr>
            <tr>
              <td><img width="150" /></td>
              <td><img width="150" /></td>
            </tr>
            <tr>
              <td><img width="150" /></td>
              <td><img width="150" /></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
