<!DOCTYPE html>
<html>
  <head>
    <title>BijyoTraining</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/training.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <h1>BijyoTraining</h1>
      <div class="row">
        <div class="col-md-6">
          <button id="training" class="btn btn-primary">画像取得</button>

            <table id="output" class="table">
              <tr>
                <th class="col-md-3">training</th>
                <th class="col-md-3">rank</th>
              </tr>
              <tr>
                <td><img id="image" width="150" /></td>
                <td>
                  <form name="form">
                  <div class="radio">
                    <label>
                      <input type="radio" name="rank" value="0">0：ｍ(｡≧Д≦｡)ｍ
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="rank" value="1" checked>1：微妙（ーxー;）
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="rank" value="2">2：かわいい（｡･ω･｡）
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="rank" value="3">3：最高にかわいいヾ（≧▽≦）ﾉ
                    </label>
                  </div>
                  <input id="imgId" type="hidden" name="imgId">
                  </form>
                  <div>
                    <button id="assort" class="btn btn-primary">判定</button>
                  </div>
                </td>
              </tr>
            </table>
          <div>
            <a href="/">戻る</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
