<!DOCTYPE html>
<html>
  <head>
    <title>BijyoTraining</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/training.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <h1>BijyoTraining</h1>
      <div class="row">
        <div class="col-md-6">
          <form name="form">
            <button id="training" class="btn btn-primary">Get the Picture</button>

            <table id="output" class="table">
              <tr>
                <th class="col-md-3">training</th>
                <th class="col-md-3">rank</th>
              </tr>
              <tr>
                <td><img width="150" /></td>
                <td>
                  <div class="btn-group" data-toggle="buttons">
                    <input id="rank0" type="radio" name="rank" value="0">
                    <label for="rank0">0</label>
                    <input id="rank1" type="radio" name="rank" value="1" checked="checked">
                    <label for="rank1">1</label>
                    <input id="rank2" type="radio" name="rank" value="2">
                    <label for="rank2">2</label>
                    <input id="rank3" type="radio" name="rank" value="3">
                    <label for="rank3">3</label>
                  </div>
                </td>
              </tr>
            </table>
            <button id="assort" class="btn btn-primary">Assort</button>

          </form>
        </div>
      </div>
    </div>
  </body>
</html>
